<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<div>
    <th:block th:each="msg : ${messages}">
        <h1 th:text="${msg}"></h1>
    </th:block>
</div>
<br><br><br>
<hr>

<br><br>
<div sec:authorize="hasRole('ROLE_ADMIN')">
    Text visible to admin
    <a href="/admin">Go to users page</a>
</div>
<br>
<a href="/login">Go to Login page</a>

</body>
</html>